body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 18px;
}

nav {
  padding: 0 2rem;
}

main {
  min-height: calc(100vh - 134px);
  padding: 2.5rem 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

@media screen and (max-width: 1280px) {
  .goods {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .goods {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.cart {
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  position: fixed;
  top: 4.5rem;
  right: 2rem;
  padding: .75rem;
  transition: all .3s;
  z-index: 4;
}

.cart.orange:hover {
  background-color: #ffb74d !important;
}

.basket-list {
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  max-width: 95%;
  width: 40rem;
  z-index: 3;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  height:  100%;
  width: 100%;
}

.basket-close {
  position: absolute;
  top: .6rem;
  right: 1rem;
  cursor: pointer;
  color: #fff;
}

.basket-quantity {
  cursor: pointer;
  vertical-align: middle;
  color: #26a69a;
}
